<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.framework.persistence.mapper.stock.ChatroomChatMapper" >
  <resultMap id="BaseResultMap" type="com.st.framework.module.stock.ChatroomChat" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CIRCLE_ID" property="circleId" jdbcType="INTEGER" />
    <result column="DATE_ID" property="dateId" jdbcType="DATE" />
    <result column="TIME_ID" property="timeId" jdbcType="TIME" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.st.framework.module.stock.ChatroomChat" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CIRCLE_ID, DATE_ID, TIME_ID, USER_ID, USER_NAME
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.st.framework.module.stock.example.ChatroomChatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from FACT_THS_CHATROOM_CHAT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.st.framework.module.stock.example.ChatroomChatExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FACT_THS_CHATROOM_CHAT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and pageSize != null" >
      limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from FACT_THS_CHATROOM_CHAT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from FACT_THS_CHATROOM_CHAT
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.st.framework.module.stock.example.ChatroomChatExample" >
    delete from FACT_THS_CHATROOM_CHAT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.st.framework.module.stock.ChatroomChat" >
    insert into FACT_THS_CHATROOM_CHAT (ID, CIRCLE_ID, DATE_ID, 
      TIME_ID, USER_ID, USER_NAME, 
      CONTENT)
    values (#{id,jdbcType=INTEGER}, #{circleId,jdbcType=INTEGER}, #{dateId,jdbcType=DATE}, 
      #{timeId,jdbcType=TIME}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
      
      <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      	SELECT LAST_INSERT_ID() AS ID
      </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.st.framework.module.stock.ChatroomChat" >
    insert into FACT_THS_CHATROOM_CHAT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="circleId != null" >
        CIRCLE_ID,
      </if>
      <if test="dateId != null" >
        DATE_ID,
      </if>
      <if test="timeId != null" >
        TIME_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="circleId != null" >
        #{circleId,jdbcType=INTEGER},
      </if>
      <if test="dateId != null" >
        #{dateId,jdbcType=DATE},
      </if>
      <if test="timeId != null" >
        #{timeId,jdbcType=TIME},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      	SELECT LAST_INSERT_ID() AS ID
      </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.st.framework.module.stock.example.ChatroomChatExample" resultType="java.lang.Integer" >
    select count(*) from FACT_THS_CHATROOM_CHAT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update FACT_THS_CHATROOM_CHAT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.circleId != null" >
        CIRCLE_ID = #{record.circleId,jdbcType=INTEGER},
      </if>
      <if test="record.dateId != null" >
        DATE_ID = #{record.dateId,jdbcType=DATE},
      </if>
      <if test="record.timeId != null" >
        TIME_ID = #{record.timeId,jdbcType=TIME},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update FACT_THS_CHATROOM_CHAT
    set ID = #{record.id,jdbcType=INTEGER},
      CIRCLE_ID = #{record.circleId,jdbcType=INTEGER},
      DATE_ID = #{record.dateId,jdbcType=DATE},
      TIME_ID = #{record.timeId,jdbcType=TIME},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update FACT_THS_CHATROOM_CHAT
    set ID = #{record.id,jdbcType=INTEGER},
      CIRCLE_ID = #{record.circleId,jdbcType=INTEGER},
      DATE_ID = #{record.dateId,jdbcType=DATE},
      TIME_ID = #{record.timeId,jdbcType=TIME},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.st.framework.module.stock.ChatroomChat" >
    update FACT_THS_CHATROOM_CHAT
    <set >
      <if test="circleId != null" >
        CIRCLE_ID = #{circleId,jdbcType=INTEGER},
      </if>
      <if test="dateId != null" >
        DATE_ID = #{dateId,jdbcType=DATE},
      </if>
      <if test="timeId != null" >
        TIME_ID = #{timeId,jdbcType=TIME},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.st.framework.module.stock.ChatroomChat" >
    update FACT_THS_CHATROOM_CHAT
    set CIRCLE_ID = #{circleId,jdbcType=INTEGER},
      DATE_ID = #{dateId,jdbcType=DATE},
      TIME_ID = #{timeId,jdbcType=TIME},
      USER_ID = #{userId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.st.framework.module.stock.ChatroomChat" >
    update FACT_THS_CHATROOM_CHAT
    set CIRCLE_ID = #{circleId,jdbcType=INTEGER},
      DATE_ID = #{dateId,jdbcType=DATE},
      TIME_ID = #{timeId,jdbcType=TIME},
      USER_ID = #{userId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="map" >
    insert into FACT_THS_CHATROOM_CHAT
    (<include refid="Base_Column_List" />)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.id},#{item.circleId},#{item.dateId},#{item.timeId},#{item.userId},#{item.userName},#{item.content}
      )
    </foreach>
  </insert>
</mapper>