<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.framework.persistence.mapper.stock.DDimtypeMapper" >
  <resultMap id="BaseResultMap" type="com.st.framework.module.stock.DDimtype" >
    <id column="DIMTYPE_ID" property="dimtypeId" jdbcType="INTEGER" />
    <result column="DIMTYPE_NAME" property="dimtypeName" jdbcType="VARCHAR" />
    <result column="DIMTYPE_CODE" property="dimtypeCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DIMTYPE_ID, DIMTYPE_NAME, DIMTYPE_CODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.st.framework.module.stock.example.DDimtypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from D_DIMTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and pageSize != null" >
      limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from D_DIMTYPE
    where DIMTYPE_ID = #{dimtypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from D_DIMTYPE
    where DIMTYPE_ID = #{dimtypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.st.framework.module.stock.example.DDimtypeExample" >
    delete from D_DIMTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.st.framework.module.stock.DDimtype" >
    insert into D_DIMTYPE (DIMTYPE_ID, DIMTYPE_NAME, DIMTYPE_CODE
      )
    values (#{dimtypeId,jdbcType=INTEGER}, #{dimtypeName,jdbcType=VARCHAR}, #{dimtypeCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.st.framework.module.stock.DDimtype" >
    insert into D_DIMTYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dimtypeId != null" >
        DIMTYPE_ID,
      </if>
      <if test="dimtypeName != null" >
        DIMTYPE_NAME,
      </if>
      <if test="dimtypeCode != null" >
        DIMTYPE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dimtypeId != null" >
        #{dimtypeId,jdbcType=INTEGER},
      </if>
      <if test="dimtypeName != null" >
        #{dimtypeName,jdbcType=VARCHAR},
      </if>
      <if test="dimtypeCode != null" >
        #{dimtypeCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.st.framework.module.stock.example.DDimtypeExample" resultType="java.lang.Integer" >
    select count(*) from D_DIMTYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update D_DIMTYPE
    <set >
      <if test="record.dimtypeId != null" >
        DIMTYPE_ID = #{record.dimtypeId,jdbcType=INTEGER},
      </if>
      <if test="record.dimtypeName != null" >
        DIMTYPE_NAME = #{record.dimtypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.dimtypeCode != null" >
        DIMTYPE_CODE = #{record.dimtypeCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update D_DIMTYPE
    set DIMTYPE_ID = #{record.dimtypeId,jdbcType=INTEGER},
      DIMTYPE_NAME = #{record.dimtypeName,jdbcType=VARCHAR},
      DIMTYPE_CODE = #{record.dimtypeCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.st.framework.module.stock.DDimtype" >
    update D_DIMTYPE
    <set >
      <if test="dimtypeName != null" >
        DIMTYPE_NAME = #{dimtypeName,jdbcType=VARCHAR},
      </if>
      <if test="dimtypeCode != null" >
        DIMTYPE_CODE = #{dimtypeCode,jdbcType=VARCHAR},
      </if>
    </set>
    where DIMTYPE_ID = #{dimtypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.st.framework.module.stock.DDimtype" >
    update D_DIMTYPE
    set DIMTYPE_NAME = #{dimtypeName,jdbcType=VARCHAR},
      DIMTYPE_CODE = #{dimtypeCode,jdbcType=VARCHAR}
    where DIMTYPE_ID = #{dimtypeId,jdbcType=INTEGER}
  </update>
</mapper>