<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.framework.persistence.mapper.stock.FactLogDownloadMapper" >
  <resultMap id="BaseResultMap" type="com.st.framework.module.stock.FactLogDownload" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ST_CODE" property="stCode" jdbcType="VARCHAR" />
    <result column="ST_TIME" property="stTime" jdbcType="VARCHAR" />
    <result column="IS_SUCCESS" property="isSuccess" jdbcType="BIT" />
    <result column="FILE_URL" property="fileUrl" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="UPD_DATE" property="updDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ST_CODE, ST_TIME, IS_SUCCESS, FILE_URL, DESCRIPTION, UPD_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.st.framework.module.stock.example.FactLogDownloadExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FACT_LOG_DOWNLOAD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and pageSize != null" >
      limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from FACT_LOG_DOWNLOAD
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from FACT_LOG_DOWNLOAD
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.st.framework.module.stock.example.FactLogDownloadExample" >
    delete from FACT_LOG_DOWNLOAD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.st.framework.module.stock.FactLogDownload" >
    insert into FACT_LOG_DOWNLOAD (ID, ST_CODE, ST_TIME, 
      IS_SUCCESS, FILE_URL, DESCRIPTION, 
      UPD_DATE)
    values (#{id,jdbcType=INTEGER}, #{stCode,jdbcType=VARCHAR}, #{stTime,jdbcType=VARCHAR}, 
      #{isSuccess,jdbcType=BIT}, #{fileUrl,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{updDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.st.framework.module.stock.FactLogDownload" >
    insert into FACT_LOG_DOWNLOAD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="stCode != null" >
        ST_CODE,
      </if>
      <if test="stTime != null" >
        ST_TIME,
      </if>
      <if test="isSuccess != null" >
        IS_SUCCESS,
      </if>
      <if test="fileUrl != null" >
        FILE_URL,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="updDate != null" >
        UPD_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stCode != null" >
        #{stCode,jdbcType=VARCHAR},
      </if>
      <if test="stTime != null" >
        #{stTime,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=BIT},
      </if>
      <if test="fileUrl != null" >
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null" >
        #{updDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.st.framework.module.stock.example.FactLogDownloadExample" resultType="java.lang.Integer" >
    select count(*) from FACT_LOG_DOWNLOAD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update FACT_LOG_DOWNLOAD
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stCode != null" >
        ST_CODE = #{record.stCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stTime != null" >
        ST_TIME = #{record.stTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuccess != null" >
        IS_SUCCESS = #{record.isSuccess,jdbcType=BIT},
      </if>
      <if test="record.fileUrl != null" >
        FILE_URL = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.updDate != null" >
        UPD_DATE = #{record.updDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update FACT_LOG_DOWNLOAD
    set ID = #{record.id,jdbcType=INTEGER},
      ST_CODE = #{record.stCode,jdbcType=VARCHAR},
      ST_TIME = #{record.stTime,jdbcType=VARCHAR},
      IS_SUCCESS = #{record.isSuccess,jdbcType=BIT},
      FILE_URL = #{record.fileUrl,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      UPD_DATE = #{record.updDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.st.framework.module.stock.FactLogDownload" >
    update FACT_LOG_DOWNLOAD
    <set >
      <if test="stCode != null" >
        ST_CODE = #{stCode,jdbcType=VARCHAR},
      </if>
      <if test="stTime != null" >
        ST_TIME = #{stTime,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        IS_SUCCESS = #{isSuccess,jdbcType=BIT},
      </if>
      <if test="fileUrl != null" >
        FILE_URL = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null" >
        UPD_DATE = #{updDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.st.framework.module.stock.FactLogDownload" >
    update FACT_LOG_DOWNLOAD
    set ST_CODE = #{stCode,jdbcType=VARCHAR},
      ST_TIME = #{stTime,jdbcType=VARCHAR},
      IS_SUCCESS = #{isSuccess,jdbcType=BIT},
      FILE_URL = #{fileUrl,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      UPD_DATE = #{updDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>