<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.framework.persistence.mapper.stock.ThsOwnerMapper" >
  <resultMap id="BaseResultMap" type="com.st.framework.module.stock.ThsOwner" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ROOM_NAME" property="roomName" jdbcType="VARCHAR" />
    <result column="ROOM_URL" property="roomUrl" jdbcType="VARCHAR" />
    <result column="ROOME_TYPE" property="roomeType" jdbcType="VARCHAR" />
    <result column="UPD_DATE" property="updDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ROOM_NAME, ROOM_URL, ROOME_TYPE, UPD_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.st.framework.module.stock.example.ThsOwnerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FACT_THS_OWNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and pageSize != null" >
      limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from FACT_THS_OWNER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from FACT_THS_OWNER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.st.framework.module.stock.example.ThsOwnerExample" >
    delete from FACT_THS_OWNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.st.framework.module.stock.ThsOwner" >
    insert into FACT_THS_OWNER (ID, ROOM_NAME, ROOM_URL, 
      ROOME_TYPE, UPD_DATE)
    values (#{id,jdbcType=INTEGER}, #{roomName,jdbcType=VARCHAR}, #{roomUrl,jdbcType=VARCHAR}, 
      #{roomeType,jdbcType=VARCHAR}, #{updDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.st.framework.module.stock.ThsOwner" >
    insert into FACT_THS_OWNER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roomName != null" >
        ROOM_NAME,
      </if>
      <if test="roomUrl != null" >
        ROOM_URL,
      </if>
      <if test="roomeType != null" >
        ROOME_TYPE,
      </if>
      <if test="updDate != null" >
        UPD_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomUrl != null" >
        #{roomUrl,jdbcType=VARCHAR},
      </if>
      <if test="roomeType != null" >
        #{roomeType,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null" >
        #{updDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.st.framework.module.stock.example.ThsOwnerExample" resultType="java.lang.Integer" >
    select count(*) from FACT_THS_OWNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update FACT_THS_OWNER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomName != null" >
        ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomUrl != null" >
        ROOM_URL = #{record.roomUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.roomeType != null" >
        ROOME_TYPE = #{record.roomeType,jdbcType=VARCHAR},
      </if>
      <if test="record.updDate != null" >
        UPD_DATE = #{record.updDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update FACT_THS_OWNER
    set ID = #{record.id,jdbcType=INTEGER},
      ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      ROOM_URL = #{record.roomUrl,jdbcType=VARCHAR},
      ROOME_TYPE = #{record.roomeType,jdbcType=VARCHAR},
      UPD_DATE = #{record.updDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.st.framework.module.stock.ThsOwner" >
    update FACT_THS_OWNER
    <set >
      <if test="roomName != null" >
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="roomUrl != null" >
        ROOM_URL = #{roomUrl,jdbcType=VARCHAR},
      </if>
      <if test="roomeType != null" >
        ROOME_TYPE = #{roomeType,jdbcType=VARCHAR},
      </if>
      <if test="updDate != null" >
        UPD_DATE = #{updDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.st.framework.module.stock.ThsOwner" >
    update FACT_THS_OWNER
    set ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      ROOM_URL = #{roomUrl,jdbcType=VARCHAR},
      ROOME_TYPE = #{roomeType,jdbcType=VARCHAR},
      UPD_DATE = #{updDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="map" >
    insert into FACT_THS_OWNER
    (<include refid="Base_Column_List" />)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.id},#{item.roomName},#{item.roomUrl},#{item.roomeType},#{item.updDate}
      )
    </foreach>
  </insert>
</mapper>