body{
	background-color: white;
}
fieldset {
	border-radius: 8px;
	border-color: #66CCFF;
}
.user-info-list{
	overflow:hidden;
	color:#686868;
}
.user-info-list li{
	margin-top:30px;
}
.user-info-list h3{
	color:#000;
	font-size:14px;
	font-weight:700;
	line-height:18px;
	margin-bottom:6px;
	border-bottom:1px #cdd7d9 solid;
	padding-bottom:6px;
}
.user-info-list p{
	line-height:26px;
	font-size:14px;
	zoom:1;
	overflow:hidden;
}
.user-info-list .info-label{
	float:left;
	width:93px;
	padding-right:16px;
	text-align:right;
}
.user-info-list .info-content{
	display:block;
	margin-left:89px;
	word-wrap:break-word;
}
.user-infro-config p {
	line-height:16px;
	font-size:14px;
	zoom:1;
	overflow:hidden;
}
.user-infro-config  {
	line-height:16px;
	font-size:12px;
	position:absolute;
	width:200px;
	height:30px;
	right:0px;
	top:6%;
}
.user-infro-config img{
	vertical-align:text-bottom;		
}
.user-infro-config a {
	text-decoration:none;	
}
a:hover {
	color:#cc3333;
}