ul,ol {
	list-style: none
}

.input_tx{
	padding:0 5px;
	border:1px solid #abadb3;
	color:#999;
	vertical-align:middle;
	background:url(../img/bg_input.png) repeat-x;
	width:180px;
	height:23px;
	line-height:23px;   
}

.input_bt{
	font-size:12px;
	border:0; 
	cursor:pointer;
	vertical-align:middle;
	text-align:center;
	color:#505050;
	background:url(../img/common.png) no-repeat;
}

.icon,.s_tip_3 .icon_tip3{
	background:url(../img/icon.png) no-repeat;
}

.icon_close{
	background-position:-36px -200px;
	width:7px;
	height:7px; 
}

.icon{
	display:inline-block;
	width:18px;
	height:17px;
	vertical-align:middle; 
	overflow:hidden;  
}
.ic8{
	background-position:-36px -209px;
	width:8px;
	height:8px;
	cursor:pointer;  
}

.btn_confirm{
	width:61px;
	height:27px;
	background-position:-107px -110px;  
}
.btn_cancle{
	width:61px;
	height:27px;
	background-position:-170px -110px;  
}

.s_tip_3{
	width:342px;
	height:191px; 
	position:relative;
	z-index:10;  
}
.s_tip_3 .s_tip_bg{
	background:url(../img/tip3.png) no-repeat;
	_background:none;  
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../img/tip3.png");  
	position:absolute; 
	z-index:-1;
	left:0; 
	top:0;
	width:342px;
	height:191px;
}
.s_tip_3 .s_tip_inner{
	padding:5px 5px 0;
}
.s_tip_3 .clearfix{
	height:38px;
	line-height:38px; 
	padding:0 20px; 
}
.s_tip_3 .clearfix strong{
	color:#666; 
	font-size:14px;
}
.s_tip_3 .clearfix .icon{
	float:right;
	display:inline; 
	margin-top:15px;
}
.s_tip_3 .icon_tip3{
	background-position:0px -565px;
	padding:0 0 10px 23px;
	margin:15px 0 0 20px;
	color:#ee8458; 
	line-height:18px;
	width:265px;  
}
.s_tip_3 ul{
	margin-left:20px;
	color:#555; 
}
.s_tip_3 li{
	overflow:hidden; 
	zoom:1;
}
.s_tip_3 .input_bt{
	float:left; 
	display:inline; 
	margin:0 5px;
}
.s_tip_3 ul .spe{
	padding:18px 0 0 75px; 
}

/*-------------------------  短信验证开始   ------------------------- */
.pop {
	width: 372px;
	background: #FFF
}

.pop .tit {
	height: 36px;
	background: url(../img/tit_bg2.png) repeat-x;
	line-height: 36px
}

.pop .tit h2 {
	float: left;
	padding-left: 10px;
	font-size: 14px;
	color: #FFF;
	margin: 3px;
}

.pop .tit span {
	display: inline;
	float: right;
	width: 11px;
	height: 10px;
	margin: 12px 12px 0 0;
	text-indent: -100em;
	cursor: pointer
}

.pop .login {
	padding: 10px 0 0 20px
}

.pop .login li {
	padding: 5px 0;
	font-size: 14px;
	color: #666
}

.pop .login li p {
	padding: 5px 0 0 56px;
	font-size: 12px;
	color: #CFCFCF
}

.pop .login li .input_text {
	width: 240px;
	height: 25px;
	border-left: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #C9C9C9;
	border-bottom: solid 1px #C9C9C9;
	color: #333
}

.pop .login li .input_text2 {
	width: 200px;
	height: 25px;
	border-left: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #C9C9C9;
	border-bottom: solid 1px #C9C9C9
}

.pop .login li .on {
	border: solid 1px #A5C760;
	background: #F4FFD4
}

.pop .btn_save {
	padding: 20px 0;
	text-align: center
}

.pop .btn_save .btn {
	width: 52px;
	height: 23px;
	border: none;
	cursor: pointer
}

.pop .tit span {
	background: url(../img/sp_bg.png) no-repeat -110px -70px;
}

.pop li.input_text2 {
	width: 200px;
	height: 25px;
	border-left: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #C9C9C9;
	border-bottom: solid 1px #C9C9C9
}

.pop .btn_save .btn1 {
	background: url(../../viewframe/images/sp_bg.png) no-repeat -125px -75px;
}
.pop .btn_save .btn {
	width: 66px;
	height: 26px;
	border: none;
	cursor: pointer
}

.pop .msg_text{
	margin:5px;
	font-size: 12px;
	text-align: center;
}

.msg_text .yz_box .retrieve_l
	{
	width: 92px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #73797c;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/btn_h.gif) no-repeat;
	border: 0;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
}

.msg_text div{
	line-height: 25px;
}

/*-------------------------  短信验证结束   ------------------------- */











